sc_comment_scraper/__pycache__
Drivers
sc_comment_scraper/__pycache__/scraper.cpython-311.pyc
sc_comment_scraper/__pycache__/scraping_frame.cpython-311.pyc
sc_comment_scraper/__pycache__/settings.cpython-311.pyc
sc_comment_scraper/__pycache__/url_input.cpython-311.pyc
sc_comment_scraper/__pycache__/check_dir.cpython-311.pyc
sc_comment_scraper/__pycache__/config.cpython-311.pyc
sc_comment_scraper/__pycache__/filter_popup.cpython-311.pyc
sc_comment_scraper/__pycache__/scraper.cpython-311.pyc
sc_comment_scraper/__pycache__/scraping_frame.cpython-311.pyc
sc_comment_scraper/__pycache__/settings_frame.cpython-311.pyc
sc_comment_scraper/__pycache__/settings_popup.cpython-311.pyc
sc_comment_scraper/__pycache__/settings.cpython-311.pyc
sc_comment_scraper/__pycache__/url_input.cpython-311.pyc
csv_exports/test.csv
csv_exports/test(1).csv
